Frontend/*/node_modules/*
Audio/*
API/Express/node_modules/*
Database/songs_database.db
Frontend/*/.output
Frontend/*/.data
Frontend/*/.nuxt
Frontend/*/.nitro
Frontend/*/.cache
Frontend/*/dist
Frontend/*/logs
Frontend/*/*.log
Frontend/*/npm-debug.log*
Frontend/*/yarn-debug.log*
Frontend/*/yarn-error.log*
Frontend/*/pnpm-debug.log*
Frontend/*/lerna-debug.log*
Frontend/*/.vscode/*
Frontend/*/!.vscode/extensions.json
Frontend/*/.idea
Frontend/*/.DS_Store
Frontend/*/*.suo
Frontend/*/*.ntvs*
Frontend/*/*.njsproj
Frontend/*/*.sln
Frontend/*/*.sw?
Frontend/*/dist-ssr
Frontend/*/*.local
Frontend/*/.vercel
Frontend/*/*.tsbuildinfo
Frontend/*/next-env.d.ts
Frontend/*/.DS_Store
Frontend/*/*.pem
Frontend/*/build
Frontend/*/.next
Frontend/*/out
Frontend/*/.pnp
Frontend/*/.pnp.js
Frontend/*/.yarn/install-state.gz
Frontend/*/coverage
Frontend/*/.astro
Frontend/*/.env.production
Frontend/*/.env
Frontend/*/.git
Frontend/*/.gitignore
/**/**/.git